{% extends 'base.html' %}

{% block content %}

<h1>Probléme Direct</h1>
<form action ="http://127.0.0.1:8000/appgeo/add" >
    entrer a : <input type="text" name="a"><br> 
    entrer b : <input type="text" name="b"><br> 
    
    entrer latitude d : <input type="text" name="d" required>
    entrer latitude min : <input type="text" name="min"required> 
    entrer latitude ss : <input type="text" name="ss"required><br>
    entrer longitude d : <input type="text" name="dlo" required>
    entrer longitude min : <input type="text" name="minlo"required> 
    entrer longitude ss : <input type="text" name="sslo"required><br>
    entrer azimut du point du départ en degres decimal : <input type="text" name="az" required><br> 
    entrer la distance géodesique en métre : <input type="text" name="s" required><br>
   
    <input type="submit">
    
</form>

{% endblock %}


