<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>géodésique</title>
    <style>
    .cont{
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        margin-left: 30%;
        margin-right: 30%;
        background-color:  #72705B ;
        font-weight: bold;
        color: white;
        border-radius: 10px;
      }
      .ccst{
        height: 4.3rem;
        font-size: 2rem;
      }
      .box{display:flex}
    </style>
</head>

<body bgcolor=#A7C4B5>
 {%block content%}  

 
 {%endblock%}
</body >

</html>
