{% extends 'base.html' %}

{% block content %}
<script>
    var showForm = function(id){
        document.getElementById(id).style.display = '';
      }
</script>
<center> 

<h1>Probléme Direct</h1>
<form action ="http://127.0.0.1:8000/appgeo/resultd/"  >

    
        <label> choose a system</label>
        <select name="sys" size="1">
        <option  value="1"> WGS 84
        <option  value="2"> WGS 72
        <option  value="3"> WGS 66
        <option  value="4"> WGS 60
        <option  value="5"> South American 1969
        <option  value="6"> Krassovsky 1940
        <option  value="7"> International
        <option  value="8"> Hough 1956
        <option  value="9"> G R S 1980
        <option  value="10"> G R S 1975
        <option  value="11"> G R S 1967
        <option  value="12"> Fischer 1968
        <option  value="13"> Fischer 1960
        <option  value="14"> Everest 1830
        <option  value="15"> Clarke 1880
        <option  value="16"> Clarke 1886
        <option  value="17"> Bessel 1841
        <option  value="18"> Airy 1830
        </SELECT><br>
        
   
    <label>entrer a : </label>
    <input type="number" name="aa" value="0"><br> 
    <label>entrer b : </label>
    <input type="number" name="bb" value="0"><br> 

    <label> La latitude du point de départ </label><br>
    <input type="text" name="d" placeholder="degree" required>
    <input type="text" name="min" placeholder="minute"required> 
    <input type="text" name="ss" placeholder="seconde"required>
    <select name="drc_lat" size="1">
        <option value="1"> N </option>
        <option value="-1"> S </option>
    </select><br>
    <label> La longitude du point de départ </label><br>
    <input type="text" name="dlo" placeholder="degree" required>
    <input type="text" name="minlo" placeholder="minute"required>
    <input type="text" name="sslo" placeholder="second" required>
    <select name="drc_long" size="1">
        <option value="1"> E </option>
        <option value="-1"> W </option>
    </select><br>

    <label>entrer azimut du point du départ en degres decimal : </label><br>
    <input type="text" name="az" required><br> 
    <label> la distance géodesique en métre :</label><br>
    <input type="text" name="s" required><br>
   
    <button type="submit" >Calculer</button>

    
</center>
    
</form>

{% endblock %}


