{% extends 'base.html' %}

{% block content %}
<h1>Probléme Inverse</h1>




<form action ="http://127.0.0.1:8000/appgeo/resul" >
    
 

    <label> choose a system</label>
    <select name="sys" size="1">
    <option  value="1"> WGS 84</option>
    <option  value="2"> WGS 72</option>
    <option  value="3"> WGS 66</option>
    <option  value="4"> WGS 60</option>
    <option  value="5"> South American 1969</option>
    <option  value="6"> Krassovsky 1940</option>
    <option  value="7"> International</option>
    <option  value="8"> Hough 1956</option>
    <option  value="9"> G R S 1980</option>
    <option  value="10"> G R S 1975</option>
    <option  value="11"> G R S 1967</option>
    <option  value="12"> Fischer 1968</option>
    <option  value="13"> Fischer 1960</option>
    <option  value="14"> Everest 1830</option>
    <option  value="15"> Clarke 1880</option>
    <option  value="16"> Clarke 1886</option>
    <option  value="17"> Bessel 1841</option>
    <option  value="18"> Airy 1830</option>
    </SELECT>
    
    

    <h4 class="cont">Or enter a and b values <small>(en m)</small></h4 class="cont">
        <label> la valeur de a</label>
        <input type="number" name="aa" value="0" >
        <label> la valeur de b</label>
        <input type="number" name="bb"value="0" ><br> 
   
    
    
    
    <div class="box">
    <div>
    <label> La latitude du premier point</label><br>
    <input type="text" name="d" placeholder="degree" required>
    <input type="text" name="min" placeholder="minute" required> 
    <input type="text" name="ss"placeholder="seconde" required>
    <select name="drc_lat_1" size="1">
        <option value="1"> N </option>
        <option value="-1"> S </option>
    </select><br>
    <label> La longitude du premier point</label><br>
    <input type="text" name="dlo" placeholder="degree" required>
    <input type="text" name="minlo" placeholder="minute" required> 
    <input type="text" name="sslo" placeholder="seconde"required>
    <select name="drc_long_1" size="1">
        <option value="1"> E </option>
        <option value="-1"> W </option>
    </select><br>
    </div>
    <div>
    <label> La latitude du deuxième point</label><br>
    <input type="text" name="d2" placeholder="degree" required>
    <input type="text" name="min2"  placeholder="minute" required> 
    <input type="text" name="ss2" placeholder="seconde" required>
    <select name="drc_lat_2" size="1">
        <option value="1"> N </option>
        <option value="-1"> S </option>
    </select><br>

    <label> La longitude du deuxième point</label><br>
    <input type="text" name="dlo2"  placeholder="degree" required>
    <input type="text" name="minlo2" placeholder="minute" required> 
    <input type="text" name="sslo2"placeholder="seconde" required>
    <select name="drc_long_2" size="1">
        <option value="1" type="number "> E </option>
        <option value="-1" type="number "> W </option>
    </select><br>
    </div>
    </div>

   
    <input type="submit">
    
</form>
{% endblock %}