<!--<script>
var showForm = function(id){
    document.getElementById(id).style.display = '';
  }
</script>

<input  type= "radio" id= "c" name="cit" value="cc" onclick="showForm('citizenForm')">
<label for="c">citizen</label>

<input type ="radio"id= "p" name="cit" value="cc" onclick="showForm('policeForm')">
<label for="p">police</label>

<form id = "policeForm" action="" style="display:none">
    <input type="submit" value="Police Form">
  </form>
  <form id = "citizenForm" action="" style="display:none">
    <input type="submit" value="Police Form">
  </form>


   <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
   (A) SOME SIMPLE ERROR STYLES -->
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        $("select").on("change", function() {
            $("#" + $(this).val()).show().siblings().hide();
        });​
    </script>
</head>
<body>
    <select>
        <option value="" selected="selected"></option>
        <option value="form_1">Form 1</option>
        <option value="form_2">Form 2</option>
        <option value="form_3">Form 3</option>
    </select>
    
    <form name="form_1" id="form_1" style="display:none">
    <input type="text" value="1">
    </form>
    
    <form name="form_2" id="form_2" style="display:none">
    <input type="text" value="2">
    </form>
    
    <form name="form_3" id="form_3" style="display:none">
    <input type="text" value="3">
    </form>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
   
</body bgcolor='blue'>
</html>-->
<script type="text/javascript">
    function showMe (it, box) {
    var vis = (box.checked) ? "block" : "none";
    document.getElementById(it).style.display = vis;
    }
</script>
    
    Show Form: <input type="checkbox" name="multi_note" value="1" onclick="showMe('div1', this)">
    
    <div id="div1" style="display:none">
        <input type="text" value="3">
    </div>
​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
       