{% extends 'base.html' %} 
{%block content%} 
<center>
    <h1 > Résultat du Probléme inverse</h1>
    <div class="box">
        <div>
        <label>l'azimut direct :</label>
        <input value="{{ALPHA12}}">
        </div>
        <div>
        <label>l'azimut inverse :</label>
        <input value="{{ALPHA21}}">
        </div>
        <div>
        <label>la distance géodesique </label>
        <input value="{{s}}">
         </div>
        </div>

 
<div class="row" >

    <h2 class="visualisation">Visualisation</h2>
      <script scr="https://cdn.plot.ly/plotly-latest.min.js"></script>
      
          {{plot|safe}}
        
      
    </div>
</center>
{%endblock%} 